MapboxNavigation.xcworkspace

.DS_Store
.idea
.build
.swiftpm

xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
IDEWorkspaceChecks.plist

Pods/

Carthage/Build
Carthage/Checkouts
/documentation
/build


Examples/Swift/Navigation_Example.mobileprovision
